<h1><%= structure.name.capitalize %> Structure</h1>

<h2>Base Attributes</h2>
<%= partial 'structure_attributes_list', :attributes => structure.attributes[:basic] %>

<h2>Further Attributes</h2>
<%= partial 'structure_attributes_list', :attributes => structure.attributes[:full] %>
