html {
  font-family: Lato, Arial, sans-serif;
  font-size:16px;
}

a {
  text-decoration: none;
}

.sidebarBackground {
  background:#2f3e4d;
  width:200px;
  position:fixed;
  top:0;
  bottom:0;
  z-index:1;
}

.sidebar {
  width:200px;
  float:left;
  z-index:10;
  position:absolute;
}
.sidebar a {
  display:block;
  padding:7px 15px;
  border-bottom:1px solid #394959;
  color:#889db1;
  font-size:85%;
}

.sidebar a:hover {
  background-color:#26323f;
}

.sidebar a.active {
  background-color:#1d2630;
  color:#fff;
}

.footer {
  margin-left:200px;
  border-top:3px solid #efefef;
  padding:20px 40px 100px 40px;
  font-size:90%;
  color:#999;
}

.content {
  margin-left:200px;
  padding:40px;
  padding-right:15%;
}


.content h1 {
  font-size:32px;
  font-weight:900;
  margin-bottom:15px;
}

.content h2 {
  font-size:24px;
  font-weight:700;
  color:#f65552;
  margin-bottom:10px;
  margin-top:30px;
}

.content h3 {
  font-size:18px;
  font-weight:700;
  color:#888;
  margin-bottom:10px;
  margin-top:30px;
}

.content p.text {
  line-height:1.5;
  margin-bottom:15px;
}


.content .standardList {
  margin-bottom:15px;
  line-height:1.5;
}

.content .standardList li {
  list-style:square;
  margin-bottom:15px;
  margin-left:35px;
}

.content code {
  font-family:'Droid Sans Mono', fixed;
  color:#f65552;
  padding:1px 2px;
  font-size:90%;
}

.content pre.code {
  font-family:'Droid Sans Mono', fixed;
  white-space: pre;
  background:#efefef;
  padding:10px 10px 10px;
  font-size:90%;
  margin-bottom:15px;
  border-radius:7px 7px 7px 7px;
}

.content pre.code span.jsonKey {
  color:#7f55ad;
  font-weight:bold;
}

.content pre.code span.jsonString {
  color:#9eb503;
}

.content pre.code span.jsonComment {
  color:#bbb;
  font-style:italic;
}

.content a.link {
  color:#2d80c8;
  font-weight:700;
  border-bottom:1px solid #2d80c8;
}

.content p.apiURL span {
  color:#aaa;
}

.table {
  width:100%;
}

.table th, .table td {
  border-bottom:1px solid #ccc;
  text-align: left;
  padding:7px 0;
}

.table th {
  border-bottom:2px solid #666;
  font-size:90%;
}

.paramTable__req {
  background:#ea4c89;
  color:#fff;
  font-weight:bold;
  font-size:10px;
  text-transform: uppercase;
  padding:1px 3px;
  border-radius: 2px;
  vertical-align: 1px;
  margin-left:5px;
}

.paramTable__field {
  width:100%;
  border:0;
  padding:0;
  font:inherit;
  color:#7f55ad;
}

.paramTable__description {
  font-size:90%;
  color:#999;
  margin-top:3px;
}

.paramTable__name {
  font-family:'Droid Sans Mono', fixed;
  font-size:90%;
}

.paramTable__restrictedList {
  font-size:80%;
  margin-top:7px;
  background:url(lock.svg) no-repeat 0 1px;
  background-size:14px;
  color:#ed4300;
  padding-left:20px;
}

.paramTable__nil {
  color:#ccc;
  font-size:90%;
}

.apiURLFull {
  font-size:110%;
  font-weight:bold;
}

.apiURLFull span {
  color:#aaaaaa;
  font-weight:normal;
}

.errorAttributeList {
  font-size:80%;
}

.errorAttributeList li {
  margin-bottom:8px;
  list-style:square;
  margin-left:16px;
}
.errorAttributeList li:last-child {
  margin-bottom:0;
}

.errorAttributeList__name {
  font-family:'Droid Sans Mono', fixed;
}

.errorAttributeList__desc {
  color:#999;
}

/* Try Action Form */

.tryForm {
  display:none;
  border:2px solid #ccc;
  background:#f7f7f7;
  border-radius:7px;
  overflow: hidden;
}

.tryForm__header {
  background:#ddd;
  padding:15px 25px;
  font-weight:700;
  color:#999;

}

.tryForm__header input {
  background:none;
  border:0;
  padding:0;
  vertical-align:0px;
  font:inherit;
  font-weight:700;
  color:#000;
  width:auto;
}

.tryForm__output {
  display:none;
  background:#111;
  color:#fff;
  padding:15px;
  font-family:'Droid Sans Mono', fixed;
  white-space: pre;
  word-wrap:normal;
  font-size:90%;
  overflow-x:auto;
}

.tryForm__output--success {
  border-top:7px solid #68be28;
}

.tryForm__output--error {
  border-top:7px solid #d4172e;
}

.tryForm__heading {
  border-bottom:1px solid #ddd;
  border-top:4px solid #aaa;
  margin-bottom:15px;
  padding:8px 25px;
  background:#efefef;
  font-weight:700;
  font-size:80%;
  text-transform: uppercase;
  color:#888;
}

.tryForm__table {
  font-size:90%;
  width:calc(100% - 50px);
  margin:0 25px;
  margin-bottom:15px;
}

.tryForm__table td {
  padding:5px 0;
  background:#f8f8f8;
}

.tryForm__tableField {
  border:0;
  background:none;
  border-bottom:1px solid #ccc;
  padding:0;
  padding-bottom:4px;
  width:100%;
  font:inherit;
  color:#7f55ad;
  font-weight:700;
}

.tryForm__tableField:focus {
  border-color:#7f55ad;
}

.tryForm__button {
  margin:15px 25px;
  text-align: right;
}

.tryFormActivate {
  margin:20px 0;
}
.tryFormActivate__button {
  background:url(tool.svg) #fffce0 no-repeat 12px 7px;
  background-size:12px;
  border:1px solid #dad7bb;
  color:#6c6a55;
  border-radius:4px;
  padding:6px 12px 6px 30px;
  font-size:12px;
  font-weight:700;
}

.tryForm__checkbox {
  margin-bottom:4px;
}

.tryForm__checkbox:last-child {
  margin-bottom:0;
}

.tryForm__checkbox input {
  float:left;
  margin-right:4px;
  margin-top:4px;
}
