html {
  font-family: Lato, Arial, sans-serif;
  font-size:16px;
}

a {
  text-decoration: none;
}

.sidebarBackground {
  background:#2f3e4d;
  width:200px;
  position:fixed;
  top:0;
  bottom:0;
  z-index:1;
}

.sidebar {
  width:200px;
  color:#ccc;
  float:left;
  z-index:10;
  position:absolute;
  padding:10px;
}

.content {
  margin-left:200px;
  padding:40px;
  padding-right:15%;
}


.content h1 {
  font-size:32px;
  font-weight:900;
  margin-bottom:15px;
}

.content h2 {
  font-size:24px;
  font-weight:700;
  color:#f65552;
  margin-bottom:10px;
  margin-top:30px;
}

.content h3 {
  font-size:18px;
  font-weight:700;
  color:#888;
  margin-bottom:10px;
  margin-top:30px;
}

.content p.text {
  line-height:1.5;
  margin-bottom:15px;
}


.content .standardList {
  margin-bottom:15px;
  line-height:1.5;
}

.content .standardList li {
  list-style:square;
  margin-bottom:15px;
  margin-left:35px;
}

.content code {
  font-family:'Droid Sans Mono', fixed;
  color:#f65552;
  padding:1px 2px;
  font-size:90%;
}

.content pre.code {
  font-family:'Droid Sans Mono', fixed;
  white-space: pre;
  background:#efefef;
  padding:10px 10px 10px;
  font-size:90%;
  margin-bottom:15px;
  border-radius:7px 7px 7px 7px;
}

.content pre.code span.jsonKey {
  color:#7f55ad;
  font-weight:bold;
}

.content pre.code span.jsonString {
  color:#9eb503;
}

.content pre.code span.jsonComment {
  color:#bbb;
  font-style:italic;
}

.content a.link {
  color:#2d80c8;
  font-weight:700;
  border-bottom:1px solid #2d80c8;
}

.content p.apiURL span {
  color:#aaa;
}

.table {
  width:100%;
}

.table th, .table td {
  border-bottom:1px solid #ccc;
  text-align: left;
  padding:7px 0;
}

.table th {
  border-bottom:2px solid #666;
  font-size:90%;
}

.paramTable__req {
  background:#ea4c89;
  color:#fff;
  font-weight:bold;
  font-size:10px;
  text-transform: uppercase;
  padding:1px 3px;
  border-radius: 2px;
  vertical-align: 1px;
  margin-left:5px;
}

.paramTable__description {
  font-size:90%;
  color:#999;
  margin-top:3px;
}

.paramTable__name {
  font-family:'Droid Sans Mono', fixed;
  font-size:90%;
}

.paramTable__nil {
  color:#ccc;
  font-size:90%;
}

.apiURLFull {
  font-size:110%;
  font-weight:bold;
}

.apiURLFull span {
  color:#aaaaaa;
  font-weight:normal;
}

.errorAttributeList {
  font-size:80%;
}

.errorAttributeList li {
  margin-bottom:8px;
  list-style:square;
  margin-left:16px;
}
.errorAttributeList li:last-child {
  margin-bottom:0;
}

.errorAttributeList__name {
  font-family:'Droid Sans Mono', fixed;
}

.errorAttributeList__desc {
  color:#999;
}
